<h3>It's a map!</h3>
<%= javascript 'http://maps.google.com/maps/api/js?sensor=false&v=3.2' %>
<%= javascript 'google_map' %>
<%= javascript 'google_geocoder' %>

<div style="float: left">
  <div id="map" style="width: 500px; height: 400px">
    <%= run_js "google_map.init();" %>
  </div>
  <form id="add_address" action="javascript:google_geocoder.add_geocode();">
    Address: <input id="addressLookup" type="text" name="address" /> <input type="submit" value="Add"><img alt="Spinner" id="addressSpinner" src="/static/javascript/spinner.gif" style="display:none;"/>
  </form>
  <div id="addressResults"></div>
  <%= run_js <<eof
new Form.Element.Observer('addressLookup', 1,
		 function(element, value) {
		 new Ajax.Updater('addressResults', '/map/address_lookup', {
		 asynchronous: true, evalScripts:true,
		 onComplete: function(request){Element.hide('addressSpinner');},
		 onLoading: function(request){Element.show('addressSpinner');},
		 method:'post', parameters:{q: value, _ajax: 'yes'}})});
eof
  %>
</div>
<div style="float: right" id="locations">
</div>
<%= run_js "poll_to_div('locations', '/map/locations');" %>
